[submodule "index"]
	path = index
	url = git@github.com:HelenusDB/index.git
[submodule "transact"]
	path = transact
	url = git@github.com:HelenusDB/transact.git
[submodule "core"]
	path = core
	url = git@github.com:HelenusDB/core.git
[submodule "document"]
	path = document
	url = git@github.com:HelenusDB/document.git
